<div
  [ngClass]="{ snapped: faceSnap.isSnapped === true }"
  class="face-snap-card"
>
  <h2>{{ faceSnap.title }}</h2>
  <p>{{ faceSnap.description }}</p>
  <img class="image" [src]="faceSnap.imageUrl" />
  <p>Mis en ligne le : {{ faceSnap.createdDate | date : "dd/MM/YYYY" }}</p>
  <p *ngIf="faceSnap.location">{{ faceSnap.location }}</p>
  <button (click)="onClic()">{{ buttonText }}</button>
  <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">
    👍🏻 {{ faceSnap.snaps }}</span
  >
</div>
